@model ViewModel.Models.MyModel
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/num">Num</a></li>
    <li><a href="/list">List</a></li>
    <li><a href="/user">User</a></li>
</ul>

<h1> Here is a User! </h1>
<p>@Model.FirstName @Model.LastName</p>